.ant-menu-item-selected {
  padding-bottom: 14px !important;
}

.full-width-menu {
  display: flex !important;
  width: 100% !important;
}

.full-width-menu .ant-menu-item {
  flex: 1 !important;
  text-align: center !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item.ant-menu-item-selected {
  border-bottom-color: black !important;
  color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: black !important;
  color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item:focus {
  border-bottom-color: black !important;
  color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item:active {
  border-bottom-color: black !important;
  color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom-color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom-color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item:hover {
  color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item:focus {
  color: black !important;
}

.full-width-menu.ant-menu-horizontal > .ant-menu-item:active {
  color: black !important;
}
